dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

packages/*/node_modules/
packages/*/dist/
packages/*/www/
packages/*/loader/
packages/*/.stencil/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
